<html>
<head>
<header>

<header>
   <%=image_tag("profile.JPG", :id =>'pages')%><br>
<%= render 'shared/header'%>
</header>
<link  rel="stylesheet" type="text/css" href="application.css"/>
</head>
<body >

<div class="About">
<h1 id="text"> About Me</h1> 

   <div style="text-align:left ">
   Hey there My name is Kajal Agarwal. I recently graduated with a MS degree in Computer Engineering from University of California, Riverside. I have good experience in Ruby, MySQL, Javascript, Python, Ruby On Rails, Git and Heroku. I also have some experience processing large datasets with Hadoop, Map/Reduce, and Apache Lucene. 
Working knowledge of jQuery, HTML, CSS and testing tools like rspec.
Worked as an intern as a web-developer at Creedenz Solutions in Riverside from past 1 year.
Some code samples can be found on my github profile: <a href="https://github.com/kajalagarwal" target="_blank">GitHub</a><br>
Thanks.
</div>
   
</div>

</body>



</html>