<html>
<head>
<header>
<%= render 'shared/header'%>
</header>
<link  rel="stylesheet" type="text/css" href="application.css"/>
</head>
<body >

<div class="About">
<h1 id="text">How to apply for an Internship? </h1> 

   <div style="text-align:left ">
    Hi, in this blog I am trying to put together some ideas and thoughts which I have gained so far through my seniors and experience while applying for internships.
    As a Recent Graduate person I can totally relate how difficult it can be while applying for an internship as a fresher. I suffered with that anxiety too, every person does.
    After coming here I had no idea how and when to start applying which delayed my chances drastically, so it is always a good thing to have a befoehand knowledge
	of this. Reading blogs, your seniors, friends, social media etc are your better way to get the information. 
    Don't hesitate to clarify your doubts, beware you are not dumb for asking these question you are just becoming best :).	
   
   <h3>Document Requirements</h3>
   <em>Resume </em><br>
   <p> Start preparing your resume. You can use any media but Latex is highly preferable these days and there are many good tutorials for it online. 
       One page long is good enough. Remember you are just showcasing your qualities using projects, programming languages, experiences etc. Don't worry you will get plenty of 
	   chance in your cover letter to rectify the problem of description in your resume. Don't put everything here just the things which you are confident enough 
	   and have an indepth knowledge.
       Put some good codesample online where an interviewer can take a look on your work, Github is a good choice.
	   Go for Proof reading to get professional point of view to erase any grammatical or representational errors.</p>
    <em>Cover Letter</em><br>
      <p> Cover Letter is just a several line description where you are trying to show several things in four W's. Now what is four W's?, actually it is
	   just four important questions of every recruiter which you are trying to answer, which are as:	   
	   Who you are?, What you are looking for?, Why should they hire you?, When available?. </p>
	 <em>Recommendations</em><br>
       <p>Some companies ask for professional recommendation about your work, it can come from your professor, past companies etc. Don't
	   worry about it if you are a fresher and does not have one, from my experience very few application make it a requirement.</p>	 
   <h3>When start applying?</h3>
      <p> Well everyday is a good day to start. If you think you have the sufficient matter to show in your resume and you are confident enough then start 
	   applying from the first day. Several companies opens their position early so it's good to start soon. Don't wait for the last, starting early is good
	   if you have no expereince so that when the time comes you have enough experience of the process and interview and also you don't wanna give them a chance to
	   to select other candidate if you think you are eligible enough for the position.
	   You can start from the companies which you are not
       interested in, well it is just a way to get some idea of the process before jumping in the big pool and facing the rejection from your interested companies.
 	   </p>
   <h3>Application Resources</h3>
       <p>Increase your social network from the first day, believe me this will help you in a search and getting a call more then anything else. 
	   Biggest problem while applying is how to make the recruiter look inside your profile at the first place. They get several application  
	   for the same position so making to the step where they consider your resume is the biggest step, where your internal connections comes in.<br>
	   Start collecting favors, ask anyone you can think have an inside source in a company. Relatives, friends, seniors, even unknown ask them if they can refer
	   you internally.<br>  
	   Apart from that start sending an application by your own. There are many websites to find the open position such as Indeed, Glassdoor, Angellist, 
	   Ventureloop, Craiglist (Go to Software/QA section of jobs) and Linkedin. </p>
  
   <h3>Coding Test</h3>
      <p> Prepare yourself for a coding test. Do atleast 5 coding exercises regularly in a given time using any programming language you are confortable in.
	   In every process coding challenge is the main step where an interviewer will ask you to do a coding challenge with them. You will be doing pair programming. Basic error most of the people do is just going for a challenge without understanding it correctly.
	   Believe me I have learned this very hard way too. Start asking questions if you are not clear of the problem they will like it as no one wants a person
	   who is not smart enough to get a good idea of problem before starting. Ask them to write some examples for you it will help. <br>
       Write some pseudo code if you are not sure yet of the programming approach along wth some test cases you will be using, start with some simple cases.
       Keep in mind they are not looking for a correct syntax or an answer but your approach to solve the problem.
	   </p>
   <h3>Enjoy :) </h3>
       <p>Now you have it all and I hope it will help you in a search. Best of luck. </p>
</div>
</div>

</body>
</html>