<html>
<head>
<header>


<%= render 'shared/header'%>
</header>
<link  rel="stylesheet" type="text/css" href="application.css"/>
</head>
<body >

<div class="About">
<h1 id="text"> About Me</h1> 

   <div style="text-align:left ">
   <h2>Objective:</h2>
Computer Engineering graduate seeking a full time position as a software developer.<br>
<h2>Experience:</h2>
Creedenz Solutions, Riverside<br>
One year experience as a SQL Developer with a web development company.<br>
<h2>Education:</h2>
<p style="float:right;  border: solid 1px grey; border-radius: 5px; color:black">Sep 2013 - June 2015 </p><br>
University of California, Riverside	<br>
MS, Computer Engineering <br>   
Coursework: Data Mining, Algorithms, Information Retrieval and Web Search, Databases, Compilers.<br>
<p style="float:right;  border: solid 1px grey; border-radius: 5px; color:black">Sep 2007 - June 2011 </p><br>
B.M.A.S. Engineering College, U. P. Technical University, Agra, India <br>
B. Tech, Electronics and Communication Engineering<br>
<h2>Internships:</h2>
<p style="float:right;  border: solid 1px grey; border-radius: 5px; color:black">June 2014 - June 2015 </p><br>
Creedenz Solutions, Riverside<br>
In this internship, I worked as a Web Developer. I programmed in MySQL, JavaScript and MS SQL server. 
My work includes defining data models, data transfer from old models to new models, writing Stored Procedures and Views, 
and writing Javascript events to make the webpages more dynamic. 
So far, I have completed several important projects for multiple clients.<br>
<p style="float:right;  border: solid 1px grey; border-radius: 5px; color:black">June 2010 - August 2010 </p><br>
Telecom Ecole De Management, France <br>
In this internship, I learned the JAVA programming language along with introductory data structures and algorithms. 
During the latter half of the internship, we worked on several JAVA projects including development of a word game called Iletra.<br>
<h2>Programming:</h2>
<b>Languages</b>: Python, Ruby, Java, Ruby on Rails  <br>
<b>Database</b>:  SQL, MySQL<br>
<b>Web</b>: HTML, CSS, JavaScript, jQuery Operating System: Windows, Linux<br>
<b>Others</b>:	Hadoop/Map-Reduce, Lucene, Heroku<br>
<h2>Academic Projects</h2>
<h4 >Lucene Search Engine to allow patients to search for best health care providers.<br> Masters Project </h4>
<ul>
<li>Built a search engine to match patient queries with best health care providers and hospitals.</li>

<li>Processed more than 20 GB data of medical data such as user queries, HCPCS codes for health care providers, list of hospitals etc.</li>
<li>Fit the model using dierent techniques to improve the search performance.</li>
</ul>
<h4>Tweet Search Engine using Lucene and Hadoop/Map-Reduce CS242,<br> Information Retrieval and Web Search</h4>
<ul>
<li>Crawled the tweets using Twitter Streaming API.</li>
<li>Filtered the english tweets and stored in multiple _les by hashing on tweet id.</li>
<li>Implemented two search engines, one using Lucene and the other using Hadoop.</li>
<li>Web interfaced the two search engines with Apache TomCat to _nd the tweet from user query.</li>
</ul>
<h4>Distributed Skyline Operator on multi-dimensional weather data using Hadoop<br>
CS236, Database Management Systems</h4>
<ul>
<li>Crawled weather data from NOAA website.
</li>
<li>Implemented a Map/Reduce implementation of Skyline Operator that can be run using Hadoop.  
</li>
<li>Optimized the runtime of the job by increasing the number of reducers.
</li></ul>
</div>
   
</div>
</body>
</html>